---
- name: FRR_interfaces packages installation
  yum:
    name:
      - python-netaddr
      - tcpdump
      - net-tools
      - traceroute
    state: present
  become: true
  check_mode: no

- name: Download Official FRR packages to /tmp
  get_url:
    url: "{{ item }}"
    dest: /tmp/
  loop:
    - https://github.com/FRRouting/frr/releases/download/frr-7.1/frr-7.1-01.el7.centos.x86_64.rpm
    - https://github.com/FRRouting/frr/releases/download/frr-7.1/frr-contrib-7.1-01.el7.centos.x86_64.rpm
    - https://github.com/FRRouting/frr/releases/download/frr-7.1/frr-pythontools-7.1-01.el7.centos.x86_64.rpm
    - https://ci1.netdef.org/artifact/LIBYANG-YANGRELEASE/shared/build-10/CentOS-7-x86_64-Packages/libyang-0.16.111-0.x86_64.rpm

- name: Update system
  yum:
    name: "*"
    state: latest
  become: true

- name: Install FRR packages
  yum:
    name:
      - /tmp/libyang-0.16.111-0.x86_64.rpm
      - /tmp/frr-7.1-01.el7.centos.x86_64.rpm
      - /tmp/frr-contrib-7.1-01.el7.centos.x86_64.rpm
      - /tmp/frr-pythontools-7.1-01.el7.centos.x86_64.rpm
    state: present
  become: true

- name: Set sysctl options
  template:
    src: 99-sysctl.conf.j2
    dest: /etc/sysctl.d/99-frr.conf
  become: true

- name: Reload sysctl files
  shell: /sbin/sysctl -p
  become: true

- name: Configure frr daemons file
  tags: frr_common
  template:
    src: "{{ ansible_hostname }}_daemons.j2"
    dest: /etc/frr/daemons
  become: yes
  become_user: frr

- name: Overwrite /etc/frr/zebra.conf with updated hostname
  template:
    src: "{{ ansible_hostname }}_zebra.conf.j2"
    dest: /etc/frr/zebra.conf
  become: true

- name: Configure frr vtysh config file
  tags: frr_common
  template:
    src: "{{ ansible_hostname }}_vtysh.conf.j2"
    dest: /etc/frr/vtysh.conf
  become: yes
  become_user: frr

- name: Create /etc/frr/bgpd.conf
  template:
    src: "{{ ansible_hostname}}_bgpd.conf.j2"
    dest: /etc/frr/bgpd.conf
  become: true
  become_user: frr

- name: Enable bgpd in /etc/frr/daemons
  lineinfile:
    path: /etc/frr/daemons
    regexp: '^bgpd='
    line: bgpd=yes
  become: true

- name: Enable FRR service
  shell: /bin/systemctl enable frr
  become: true

- name: Restart FRR
  systemd:
    name: frr
    state: started
  become: true

