!
log monitor informational
log syslog informational
!
!
ip route 192.168.99.99/32 Null0
!
router bgp 65020
 bgp router-id 10.0.1.20
 neighbor 10.0.1.10 remote-as 65010
 !
 address-family ipv4 unicast
  network 192.168.99.99/32
  neighbor 10.0.1.10 soft-reconfiguration inbound
  neighbor 10.0.1.10 route-map RM-METRIC150 out
 exit-address-family
!
route-map RM-METRIC150 permit 10
 set metric 150
!
!
line vty
log commands
!
