!
log monitor informational
log syslog informational
!
!
ip route 192.168.99.99/32 Null0
!
router bgp 65021
 bgp router-id 10.0.1.21
 neighbor 10.0.1.11 remote-as 65011
 !
 address-family ipv4 unicast
  network 192.168.99.99/32
  neighbor 10.0.1.11 soft-reconfiguration inbound
  neighbor 10.0.1.11 route-map RM-METRIC200 out
 exit-address-family
!
!
route-map RM-METRIC200 permit 10
 set metric 200
!
line vty
log commands
!
